 * {
   box-sizing: border-box; 
    font-size: 0px;
}


.box-template {
    margin: auto;
    height: 225px;
    width: 100%;
}

.pink-box {
    display: block;
    background-color: #F5C6D6;
    border: 8px solid white;
    height: 25%;
    width: 100%;
    position: relative;
}

.hotpink-box {
    display: block;
    background-color: #EE2E84;
    border: 8px solid white;
    height: 25%;
    width: 100%;
    position: relative;
}

.blue-box {
    display: block;
    background-color: #85CFD8;
    border: 8px solid white;
    height: 25%;
    width: 100%;
    position: relative;
}

.green-box {
    display: block;
    background-color: #8DC63F;
    border: 8px solid white;
    height: 25%;
    width: 100%;
    position: relative;
}

.orange-box {
    display: block;
    background-color: #E76E34;
    border: 8px solid white;
    height: 25%;
    width: 100%;
    position: relative;
}

@media only screen and (min-width: 768px){

    * {
        box-sizing: border-box; 
         font-size: 0px;
     }

    .box-template {
        margin: auto;
        width: 1024px;
        height: 768px;

    }

    .pink-box {
        background-color: #F5C6D6;
        display: inline-block;
        height: 25%;
        width: 100%;
        position: relative;
    }

    .hotpink-box {
        display: inline-block;
        background-color: #EE2E84;
        height: 25%;
        width: 25%;
        position: relative;
    }

    .blue-box {
        display: inline-block;
        background-color: #85CFD8;
        height: 25%;
        width: 50%;
        position: relative;
    }

    .green-box {
        display: inline-block;
        background-color: #8DC63F;
        height: 25%;
        width: 73%;
        position: relative;
    }

    .orange-box {
        display: inline-block;
        background-color: #E76E34;
        height: 25%;
        width: 27%;
        right: 0px;
        position: relative;
    }
}